<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1033725503718-tnae4tfgkla480gj33orufd5l86shquu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>cutly</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cutly</string>
			</array>
		</dict>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>Intent</string>
	</array>
	<key>NSApplePayUsageDescription</key>
	<string>Nous utilisons Apple Pay pour sécuriser vos paiements.</string>
	<key>NSPhotoLibraryUsageDescription
NSPhotoLibraryUsageDescription
NSPhotoLibraryUsageDescription
</key>
	<string>Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous utilisons votre position pour calculer la distance avec le coiffeur.</string>
	<key>Privacy - Microphone Usage Descriptions</key>
	<string>Cette application utilise le micro pour envoyer des messages vocaux.</string>
	<key>Privacy - Photos Library Additions Usage Description</key>
	<string>Autoriser l’application à enregistrer les photos et vidéos dans votre galerie.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>voip</string>
		<string>push-to-talk</string>
		<string>audio</string>
	</array>
</dict>
</plist>
