<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSApplePayUsageDescription</key>
	<string>Nous utilisons Apple Pay pour sécuriser vos paiements.</string>
	<key>NSPhotoLibraryUsageDescription
NSPhotoLibraryUsageDescription
NSPhotoLibraryUsageDescription
</key>
	<string>Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous avons besoin d’accéder à votre galerie pour votre photo de profil.
Nous utilisons votre position pour calculer la distance avec le coiffeur.</string>
	<key>NSLocationWhenInUseUsageDescription
NSLocationWhenInUseUsageDescription
LSApplicationQueriesSchemes
LSApplicationQuerisesS chemes</key>
	<string>Nous utilisons votre position pour calculer la distance avec le coiffeur.
</string>
	<key>LSApplicationQueriesSchemes
LSApplicationQueriesSchemes
LSApplicationQueriesSchemes
</key>
	<array>
		<string>stripe</string>
		<string>stripe-redirect</string>
	</array>
</dict>
</plist>
